body {
    font-family: Arial, sans-serif;
}

.font-size-box {
    width: 500px;
    background-color: #00ffff;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 50px;
    font-style: italic;
}

.buttons {
    font-size: 20px;
    padding: 10px 32px;
    border-radius: 10px;
}

.header h1 {
    font-size: 34px;
}

.content p {
    font-size: 16px;
}